/***** layout ******/
// Default Layout - Mobile First Approach
@media #{$screen} {
  #header {
    @include grid-row;
    margin-top: 5px;
    margin-bottom: 30px;

    .logo-container {
      @include grid-column(12);
      text-align: center;
    }
    .navigation-container {
      @include grid-column(12);

      .navigation-row {
        @include grid-row(nest);
      }
      .social-navigation {
        @include grid-column(12);
        margin-top: 5px;
        text-align: center;
      }
      .site-navigation {
        @include grid-column(12);
        text-align: center;
        margin-top: 15px;
      }
      .search-container {
        display: none;
      }
    }
  }
  #body {
    @include grid-row;
    padding-bottom: 40px;

    .main {
      @include grid-column(12);
    }
    .content-container {
      @include grid-row(nest);
    }
  }
  #footer {
    padding-bottom: 30px;

    .footer-row {
      @include grid-row;
    }
    .sponsors-container {
      @include grid-column(12);
      margin-top: 20px;

      .sponsors-list {
        @include block-grid(4);
      }
    }
    .logo-container {
      display: none;
    }
    .info-links-container {
      @include grid-column(6);
      text-align: center;
      margin-bottom: 20px;
    }
    .network-links-container {
      @include grid-column(6);
      text-align: center;
      margin-bottom: 20px;
    }
    .stay-updated-container {
      @include grid-column(12);
    }
    .copyright-container {
      @include grid-column(6);
    }
    .legal-links-container {
      @include grid-column(6);
      text-align: right;
    }
  }
  #ktv-sub-nav {
    @include grid-row();

    .sub-nav-heading {
      @include grid-column(2);
      margin-bottom: 0px;

      &.extend-full {
        @include grid-column(12);
      }
    }
    .sub-nav-list {
      @include grid-column(10);
    }
    .separator-container {
      @include grid-column(12);

      .horizontal-stitch {
        margin-top: 0px;
      }
    }
  }
  .aside-container {
    @include grid-column(2);
  }

  .home-page {
    .featured-content {
      @include grid-row(nest);

      .featured-slider-container {
        @include grid-column(9);
      }
      .campaigns-container {
        @include grid-column(3);
      }
    }

    .section-header {
      @include grid-row(nest);

      .title-container {
        @include grid-column(6);
      }
      .all-container {
        @include grid-column(6);
      }
    }

    .shows {
      .shows-header {
        margin-bottom: 10px;
      }
      .channel-list {
        @include block-grid(6);

        li {
          padding-bottom: 0px;
        }
      }
    }


  }
  .shows-page {
    .show-channel {
      margin-top: 20px;

      .channel-header {
        position: relative;
        width: 100%;
        margin-bottom: 30px;
      }
      .channel-list {
        @include block-grid(6);
      }
    }

    .episode-header {
      @include grid-row(nest);

      .title-container {
        @include grid-column(7);
      }
      .sharing-wrapper {
        @include grid-column(5);
      }
    }
  }
  .blog-page {

    &.blog-index-page, &.blog-archives-page {
      .blog-posts-container {
        @include grid-column(10);
      }
      .blog-post {
        @include grid-row(nest);
        margin-bottom: 30px;

        .blog-post-thumbnail {
          @include grid-column(3);
        }
        .blog-post-content {
          @include grid-column(9);
        }
        .blog-post-header {
          margin-bottom: 5px;
        }
        .blog-post-footer {
          @include grid-row(nest);
          margin-top: 20px;

          .date-container {
            @include grid-column(4);
          }
          .sharing-container {
            @include grid-column(8);
          }
        }
      }
    }

    &.blog-show-page {
      .blog-post-container {
        @include grid-column(10);
      }
      .blog-post {
        @include grid-row(nest);
        margin-bottom: 30px;

        .blog-post-header {
          @include grid-column(12);
          margin-bottom: 15px;

          .blog-post-meta {
            @include clearfix;

            .date-container {
              width: 45%;
              float: left;
            }
            .sharing-container {
              width: 45%;
              float: right;
            }
          }
        }
        .blog-post-body {
          @include grid-column(12);
        }
        .blog-post-footer {
          margin-top: 20px;
        }
      }
    }
  }
  .supporters-page {

    .supporter-row {
      @include grid-row(nest);
    }
    .logo-container {
      @include grid-column(6);
      text-align: center;
    }
    .info-container {
      @include grid-column(6);
      text-align: center;
    }
    .description-container {
      @include grid-column(12);
    }
    .banner-container {
      display: none;
    }
  }
  .about-page {
    &.about-the-crew-page {
      .the-crew {
        margin-top: 30px;
      }
      .crew-member {
        @include grid-row(nest);

        .crew-member-photo {
          @include grid-column(3);
        }
        .crew-member-info {
          @include grid-column(9);
        }
      }
    }
    &.about-big-shaka-club-page {
      .big-shaka-club-wrapper {
        @include grid-row(nest);

        .big-shaka-group {
          @include grid-column(6);
          margin-top: 30px;
        }
      }
    }
  }
  .tag-page {
    .tagged-posts-container {
      @include grid-column(10);
    }
    .tag-post {
      @include grid-row(nest);
      margin-bottom: 30px;

      .tag-thumbnail {
        @include grid-column(3);
      }
      .tag-post-content {
        @include grid-column(9);
      }
      .tag-post-header {
        margin-bottom: 5px;
      }
      .tag-post-footer {
        @include clearfix;
        margin-top: 20px;

        .date-container {
          float: left;
          width: 25%;
        }
        .sharing-container {
          float: right;
          width: 70%;
        }
      }
    }
  }
}

// Tablets and Up
@media #{$small} {
  $footer-height: 472px;

  #page-wrap {
    min-height: 100%;
    margin-bottom: -$footer-height;

    &:after {
      content: "";
      display: block;
      height: $footer-height ;
    }
  }
  #header {
    @include grid-row;
    margin-top: 10px;
    margin-bottom: 30px;

    .logo-container {
      @include grid-column(2);
      text-align: left;
    }
    .navigation-container {
      @include grid-column(10);

      .navigation-row {
        @include grid-row(nest);
      }
      .social-navigation {
        @include grid-column(12);
        margin-top: 10px;
        text-align: right;
      }
      .site-navigation {
        @include grid-column(8);
        margin-top: 35px;
        text-align: left;
      }
      .search-container {
        display: block;
        @include grid-column(4);
      }
    }
  }
  #body {
    @include grid-row;

    .main {
      @include grid-column(12);
    }
  }
  #footer {
    height: $footer-height;
    padding-bottom: 30px;

    .footer-row {
      @include grid-row;
    }
    .sponsors-container {
      @include grid-column(12);
      margin-top: 20px;

      .sponsors-list {
        @include block-grid(8);
      }
    }
    .logo-container {
      @include grid-column(3);
      display: block;
    }
    .info-links-container {
      @include grid-column(3);
      text-align: left;
      margin-bottom: 0px;
    }
    .network-links-container {
      @include grid-column(3);
      text-align: left;
      margin-bottom: 0px;
    }
    .stay-updated-container {
      @include grid-column(3);
    }
    .copyright-container {
      @include grid-column(6);
    }
    .legal-links-container {
      @include grid-column(6);
      text-align: right;
    }
  }

  .supporters-page {


    .supporter-row {
      @include grid-row(nest);
    }
    .logo-container {
      @include grid-column(2);
      text-align: left;
    }
    .info-container {
      @include grid-column(2);
      text-align: left;
    }
    .description-container {
      @include grid-column(6);
    }
    .banner-container {
      @include grid-column(2);
      display: block;
      text-align: right;
    }
  }
  .about-page {
    &.about-the-crew-page {
      .the-crew {
        margin-top: 30px;
      }
    }
  }
}