/***** layout ******/
// Default Layout - Mobile First Approach
@media #{$screen} {
  #header {
    @include grid-row;
    margin-top: 5px;
    margin-bottom: 30px;

    .logo-container {
      @include grid-column(12);
      text-align: center;
    }
    .navigation-container {
      @include grid-column(12);

      .navigation-row {
        @include grid-row(nest);
      }
      .social-navigation {
        @include grid-column(12);
        margin-top: 5px;
        text-align: center;
      }
      .site-navigation {
        @include grid-column(12);
        text-align: center;
        margin-top: 15px;
      }
      .search-container {
        display: none;
      }
    }
  }
  #body {
    @include grid-row;
    padding-bottom: 40px;

    .main {
      @include grid-column(12);
    }
    .content-container {
      @include grid-row(nest);
    }
  }
  #footer {
    padding-bottom: 30px;

    .footer-row {
      @include grid-row;
    }
    .sponsors-container {
      @include grid-column(12);
      margin-top: 20px;

      .sponsors-list {
        @include block-grid(4);
      }
    }
    .logo-container {
      display: none;
    }
    .info-links-container {
      @include grid-column(6);
      text-align: center;
      margin-bottom: 20px;
    }
    .network-links-container {
      @include grid-column(6);
      text-align: center;
      margin-bottom: 20px;
    }
    .stay-updated-container {
      @include grid-column(12);
    }
    .copyright-container {
      @include grid-column(6);
    }
    .legal-links-container {
      @include grid-column(6);
      text-align: right;
    }
  }
  #ktv-sub-nav {
    @include grid-row();

    .sub-nav-heading {
      @include grid-column(2);
      margin-bottom: 0px;

      &.extend-full {
        @include grid-column(12);
      }
    }
    .sub-nav-list {
      @include grid-column(10);
    }
    .separator-container {
      @include grid-column(12);
    }
  }
  .aside-container {
    @include grid-column(2);
  }

  .blog-page {
    .blog-posts-container {
      @include grid-column(10);
    }
    .blog-post {
      @include grid-row(nest);
      margin-bottom: 30px;

      .blog-post-title {
        @include grid-column(12);
        margin-bottom: 15px;
      }
      .blog-post-thumbnail {
        @include grid-column(3);
      }
      .blog-post-content {
        @include grid-column(9);
      }
      .blog-post-footer {
        @include grid-row(nest);
        margin-top: 15px;

        .blog-post-date {
          @include grid-column(5);
        }
        .blog-post-socail {
          @include grid-column(7);
        }
      }
    }
    &.blog-show-page {
      .blog-post {
        .blog-post-content {
          @include grid-column(12);
        }
      }
    }
  }
  .supporters-page {

    .supporter-row {
      @include grid-row(nest);
    }
    .logo-container {
      @include grid-column(6);
      text-align: center;
    }
    .info-container {
      @include grid-column(6);
      text-align: center;
    }
    .description-container {
      @include grid-column(12);
    }
    .banner-container {
      display: none;
    }
  }
  .about-page {
    &.about-the-crew-page {
      .the-crew {
        margin-top: 30px;
      }
      .crew-member {
        @include grid-row(nest);

        .crew-member-photo {
          @include grid-column(3);
        }
        .crew-member-info {
          @include grid-column(9);
        }
      }
    }
    &.about-big-shaka-club-page {
      .big-shaka-club-wrapper {
        @include grid-row(nest);

        .big-shaka-group {
          @include grid-column(6);
          margin-top: 30px;
        }
      }
    }
  }
}

// Tablets and Up
@media #{$small} {
  $footer-height: 472px;

  #page-wrap {
    min-height: 100%;
    margin-bottom: -$footer-height;

    &:after {
      content: "";
      display: block;
      height: $footer-height ;
    }
  }
  #header {
    @include grid-row;
    margin-top: 10px;
    margin-bottom: 30px;

    .logo-container {
      @include grid-column(2);
      text-align: left;
    }
    .navigation-container {
      @include grid-column(10);

      .navigation-row {
        @include grid-row(nest);
      }
      .social-navigation {
        @include grid-column(12);
        margin-top: 10px;
        text-align: right;
      }
      .site-navigation {
        @include grid-column(8);
        margin-top: 35px;
        text-align: left;
      }
      .search-container {
        display: block;
        @include grid-column(4);
      }
    }
  }
  #body {
    @include grid-row;

    .main {
      @include grid-column(12);
    }
  }
  #footer {
    height: $footer-height;
    padding-bottom: 30px;

    .footer-row {
      @include grid-row;
    }
    .sponsors-container {
      @include grid-column(12);
      margin-top: 20px;

      .sponsors-list {
        @include block-grid(8);
      }
    }
    .logo-container {
      @include grid-column(3);
      display: block;
    }
    .info-links-container {
      @include grid-column(3);
      text-align: left;
      margin-bottom: 0px;
    }
    .network-links-container {
      @include grid-column(3);
      text-align: left;
      margin-bottom: 0px;
    }
    .stay-updated-container {
      @include grid-column(3);
    }
    .copyright-container {
      @include grid-column(6);
    }
    .legal-links-container {
      @include grid-column(6);
      text-align: right;
    }
  }

  .supporters-page {


    .supporter-row {
      @include grid-row(nest);
    }
    .logo-container {
      @include grid-column(2);
      text-align: left;
    }
    .info-container {
      @include grid-column(2);
      text-align: left;
    }
    .description-container {
      @include grid-column(6);
    }
    .banner-container {
      @include grid-column(2);
      display: block;
      text-align: right;
    }
  }
  .about-page {
    &.about-the-crew-page {
      .the-crew {
        margin-top: 30px;
      }
    }
  }
}