html {
  height: 100%;
  background: $ktv-bg-grey;
}

body	{
  height: 100%;
  background: $ktv-bg-grey;
  color: $ktv-text;
  font-family: $fonts;
}

p {
  line-height: 1.5;
  margin-bottom: 0;
}

p + p {
  margin-top: 20px;
}

/*	Headings
---------------------------------------------------	*/
h1	{
  @extend %pressed-text;
  color: #000;
  font: normal $bold 18px/1.4 $fonts;
  text-transform: uppercase;
}

h2	{
  @extend %pressed-text;
  color: #000;
  font: normal $semi-bold 16px/1.4 $fonts;
  text-transform: uppercase;
}

h3	{
  @extend %pressed-text;
  color: #888;
  font: normal $semi-bold 16px/1.4 $fonts;
  text-transform: uppercase;
}

h4	{
  font-family: $fonts;
  font-weight: $semi-bold;
  letter-spacing: 1px;
}

h5	{
  font-family: $fonts;
  font-weight: $semi-bold;
  letter-spacing: 1px;
}

h6	{
  font-family: $fonts;
  font-weight: $semi-bold;
  letter-spacing: 1px;
}

/*	Links
---------------------------------------------------	*/
a:link, a:visited	{
  color: $ktv-dark-text;
  outline: none;
  text-decoration: none;
}

a:link {
  -webkit-tap-highlight-color: $ktv-blue;
}

a:hover, a:active	{
  color: $ktv-blue;
  outline: none;
}

/*	Lists
---------------------------------------------------	*/
ul	{
  list-style: none;
  margin: 0;
  padding: 0;
}
ul li {
  margin: 0;
  padding: 0;
}
ul ul	{
  list-style: circle outside;
}
ul ul ul	{
  list-style: square outside;
}

/* Utility Classes */
.clearfix {
  display: inline-block;
  &:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }
}

.hide {
  display: none;
}

.show {
  display: block;
}

/* Foundation Overrides */
$tablet-screen: 768px;
$desktop-screen: 1000px;
$monitor-screen: 1440px;

$phone-up: "only screen";
$tablet-up: "only screen and (min-width: #{$tablet-screen})";
$desktop-up: "only screen and (min-width: #{$desktop-screen})";
$monitor-up: "only screen and (min-width: #{$monitor-screen})";
$landscape: "only screen and (orientation: landscape)";
$portrait: "only screen and (orientation: portrait)";

button:active, .button:active, #contact-form input[type=submit]:active {
  -webkit-box-shadow: none;
  box-shadow: none;
}

button:hover, button:focus, .button:hover, #contact-form input[type=submit]:hover, .button:focus, #contact-form input[type=submit]:focus {
  outline: none;
  color: $ktv-blue;
  border: 1px solid $ktv-grey;
}

table {
  border: 1px solid #CCC;

  tr th, tr td {
    padding: 10px;
  }

  tr {
    border-bottom: 1px solid #CCC;
  }
}

table tr.even, table tr.alt, table tr:nth-of-type(even) {
  background: #FFF;
}
