/***** layout ******/
// Default Layout - Mobile First Approach
@media #{$phone-up} {
  #header {
    @include grid-row;
    margin-top: 5px;
    margin-bottom: 30px;

    .logo-container {
      @include grid-column(12);
      text-align: center;
    }
    .navigation-container {
      @include grid-column(12);

      .navigation-row {
        @include grid-row(nest);
      }
      .social-navigation {
        @include grid-column(12);
        margin-top: 5px;
        text-align: center;
      }
      .site-navigation {
        @include grid-column(12);
        text-align: center;
        margin-top: 15px;
      }
      .search-container {
        display: none;
      }
    }
  }
  #body {
    @include grid-row;
    padding-bottom: 40px;

    .main {
      @include grid-column(12);
    }
    .content-container {
      @include grid-row(nest);
      margin-bottom: 30px;
    }
  }
  #footer {
    padding-bottom: 60px;

    .footer-row {
      @include grid-row;
    }
    .sponsors-container {
      @include grid-column(12);
      margin-top: 20px;

      .sponsors-list {
        @include block-grid(4);
      }
    }
    .logo-container {
      display: none;
    }
    .info-links-container {
      @include grid-column(6);
      text-align: center;
      margin-bottom: 20px;
    }
    .network-links-container {
      @include grid-column(6);
      text-align: center;
      margin-bottom: 20px;
    }
    .stay-updated-container {
      @include grid-column(12);
    }
    .copyright-container {
      @include grid-column(6);
    }
    .legal-links-container {
      @include grid-column(6);
      text-align: right;
    }
  }
  #ktv-sub-nav {
    @include grid-row();

    .heading-container {
      @include grid-column(12);

      &.extend-full {
        @include grid-column(12);
      }
    }
    .list-container {
      display: none;
    }
    .separator-container {
      @include grid-column(12);

      .horizontal-stitch {
        margin-top: 0px;
      }
    }
    .cloned {
      display: none;
    }
  }
  #about-sub-nav {
    @include grid-row();

    .heading-container {
      @include grid-column(12);
      display: none;

      &.extend-full {
        @include grid-column(12);
        display: block;
      }
    }
    .list-container {
      display: block;
    }
    .separator-container {
      @include grid-column(12);

      .horizontal-stitch {
        margin-top: 0px;
      }
    }
  }
  .aside-container {
    @include grid-column(2);
    position: static;
    min-height: 1px;
    display: none;

    .aside-wrapper {
      position: absolute;
      display: block;
      top: 0px;
      bottom: 0px;
    }
  }

  .home-page {
    .featured-content {
      @include grid-row(nest);

      .featured-slider-container {
        @include grid-column(12);
        margin-bottom: 20px;
      }
      .campaigns-container {
        @include grid-column(12);
        text-align: center;

        .featured-campaigns {
          @include grid-row(nest);
          .campaign {
            @include grid-column(6);
          }
        }
      }
    }
    .section-header {
      @include grid-row(nest);

      .title-container {
        @include grid-column(6);
      }
      .all-container {
        @include grid-column(6);
      }
    }
    .shows {
      .channel-list {
        @include block-grid(3);
        text-align: center;

        li {
          padding-bottom: 0px;
        }
      }
    }
    .blog {
      .blog-post {
        @include grid-row(nest);
        margin-bottom: 30px;

        .blog-post-thumbnail {
          @include grid-column(12);
          margin-bottom: 20px;
        }
        .blog-post-content {
          @include grid-column(12);
        }
        .blog-post-header {
          margin-bottom: 5px;
        }
        .blog-post-footer {
          @include grid-row(nest);
          margin-top: 20px;

          .date-container {
            @include grid-column(4);
          }
          .sharing-container {
            @include grid-column(8);
          }
        }
      }
    }
  }
  .shows-page {
    .show-channel {
      margin-top: 20px;

      &:first-child {
        margin-top: 0px;
      }
      .channel-header {
        position: relative;
        width: 100%;
        margin-bottom: 30px;
      }
      .channel-list {
        @include block-grid(3);
      }
    }
    .episode-header {
      @include grid-row(nest);

      .title-container {
        @include grid-column(12);
      }
      .sharing-wrapper {
        @include grid-column(12);
      }
    }
  }
  .blog-page {

    &.blog-index-page, &.blog-archives-page {
      .blog-posts-container {
        @include grid-column(12);
        margin-bottom: -30px; // Hack to remove last <hr> margin-bottom
      }
      .blog-post {
        .blog-post-header {
          margin-bottom: 5px;
        }
        .blog-post-thumbnail {
          margin-bottom: 20px;
        }
        .blog-post-footer {
          @include grid-row(nest);
          margin-top: 20px;

          .date-container {
            @include grid-column(12);
          }
          .sharing-container {
            @include grid-column(12);
          }
        }
      }
      .pagination-wrapper {
        @include grid-row(nest);

        .pagination-container {
          @include grid-column(12);
        }
      }
    }
    &.blog-show-page {
      .blog-post-container {
        @include grid-column(12);
        margin-bottom: -30px; // Hack to remove last <hr> margin-bottom
      }
      .blog-post {
        @include grid-row(nest);

        .blog-post-header {
          @include grid-column(12);
          margin-bottom: 15px;

          .blog-post-meta {
            @include clearfix;

            .date-container {
              width: 100%;
              margin-bottom: 10px;
            }
            .sharing-container {
              width: 100%;
            }
          }
        }
        .blog-post-body {
          @include grid-column(12);
        }
        .blog-post-footer {
          margin-top: 20px;
        }
      }
    }
  }
  .supporters-page {
    .supporter-row {
      @include grid-row(nest);
    }
    .logo-container {
      @include grid-column(6);
      text-align: center;
    }
    .info-container {
      @include grid-column(6);
      text-align: center;
    }
    .description-container {
      @include grid-column(12);
      margin-top: 20px;
    }
  }
  .about-page {
    &.about-the-crew-page {
      .crew-member {
        @include grid-row(nest);

        .crew-member-photo {
          @include grid-column(12);
          margin-bottom: 10px;
        }
        .crew-member-info {
          @include grid-column(12);
        }
      }
    }
    &.about-big-shaka-club-page {
      .big-shaka-club-wrapper {
        @include grid-row(nest);

        .big-shaka-group {
          @include grid-column(12);
          margin-top: 20px;
        }
      }
    }
  }
  .tag-page {
    .tagged-posts-container {
      @include grid-column(12);
    }
    .tag-post {
      @include grid-row(nest);
      margin-bottom: 30px;

      .tag-thumbnail {
        @include grid-column(12);
        margin-bottom: 10px;
      }
      .tag-post-content {
        @include grid-column(12);
      }
      .tag-post-header {
        margin-bottom: 5px;
      }
    }
  }
  .search-page {
    .search-thumbnail {
      @include grid-column(12);
      margin-bottom: 10px;
    }
    .search-post-content {
      @include grid-column(12);
    }
    .search-post-header {
      margin-bottom: 5px;
    }
    .separator-container {
      @include grid-column(12);
    }
    .pagination-container {
      @include grid-column(12);
    }
    .no-results-container {
      @include grid-column(12);
      margin: 30px 0;
    }
  }
  .links-page {
    .linked-pages-container {
      @include grid-column(12);

      .links-list {
        @include block-grid(2);
        margin-top: 10px;

        li {
          padding-bottom: 5px;
        }
      }
    }
  }
  .store-page {
    &.store-archives {
      .products {
        @include block-grid(2);
      }
    }
    &.store-single {
      .product {
        @include grid-row(nest);
      }
      .product-images-container {
        @include grid-column(12);

        .thumbnails {
          @include block-grid(3);
        }
      }
      .product-desc-container {
        @include grid-column(12);
      }
    }
    &.cart-page {
      .product-thumbnail {
        display: none;
      }
      .cart-overview {
        margin-bottom: 20px;
      }
      .shipping-row {
        margin-bottom: 20px;
      }
    }
    &.checkout-page {
      .store-content {
        @include grid-row(nest);
      }
      .billing {
        @include grid-column(12);
        margin-bottom: 30px;

        .billing-inner {
          @include grid-row(nest);

          .billing-title {
            @include grid-column(12);
            margin-bottom: 10px;
          }
          #billing_country_field {
            @include grid-column(12);
          }
          #billing_first_name_field {
            @include grid-column(6);
          }
          #billing_last_name_field {
            @include grid-column(6);
          }
          #billing_company_field {
            @include grid-column(12);
          }
          #billing_address_1_field {
            @include grid-column(12);
          }
          #billing_address_2_field {
            @include grid-column(12);
          }
          #billing_city_field {
            @include grid-column(12);
          }
          #billing_state_field {
            @include grid-column(6);
          }
          #billing_postcode_field {
            @include grid-column(6);
          }
          #billing_email_field {
            @include grid-column(12);
          }
          #billing_phone_field {
            @include grid-column(6);
          }
        }
      }
      .shipping {
        @include grid-column(12);
        margin-bottom: 30px;

        .shipping-inner {
          @include grid-row(nest);

          .shipping-title {
            @include grid-column(12);
            margin-bottom: 10px;
          }
          #shiptobilling {
            @include grid-column(12);
          }
          #order_comments_field {
            @include grid-column(12);
          }
          #ss_wc_mailchimp_opt_in_field {
            @include grid-column(12);

            #ss_wc_mailchimp_opt_in {
              display: inline;
              margin-right: 5px;
            }
            .checkbox {
              display: inline;
            }
          }
          #shipping_country_field {
            @include grid-column(12);
          }
          #shipping_first_name_field {
            @include grid-column(6);
          }
          #shipping_last_name_field {
            @include grid-column(6);
          }
          #shipping_company_field {
            @include grid-column(12);
          }
          #shipping_address_1_field {
            @include grid-column(12);
          }
          #shipping_address_2_field {
            @include grid-column(12);
          }
          #shipping_city_field {
            @include grid-column(12);
          }
          #shipping_state_field {
            @include grid-column(6);
          }
          #shipping_postcode_field {
            @include grid-column(6);
          }
          #shipping_email_field {
            @include grid-column(6);
          }
          #shipping_phone_field {
            @include grid-column(6);
          }
        }
      }
      .your-order {
        @include grid-column(12);

        .payment_method_paypal {
          margin-top: 5px;
        }
        .terms {
          position: relative;
          margin-top: 20px;

          .input-checkbox {
            position: absolute;
            left: 0px;
            top: 2px;
          }
          .checkbox {
            position: absolute;
            left: 20px;
          }

        }
      }
    }
    &.order-received-page {
      .store-content {
        @include grid-row(nest);
      }
      .thanks-and-review {
        @include grid-column(12);
      }
      .payment-instructions {
        @include grid-column(12);
        margin-top: 20px;
      }
      .order-review {
        @include grid-column(12);
        margin-top: 30px;

        .order-details-inner {
          @include grid-row(nest);
        }
        .order-details-container {
          @include grid-column(12);
          margin-bottom: 30px;
        }
        .customer-details-container {
          @include grid-column(12);
        }
      }
    }
  }
}

// Tablets and Up
@media #{$tablet-up} {
  $footer-height: 472px;

  #page-wrap {
    min-height: 100%;
    margin-bottom: -$footer-height;

    &:after {
      content: "";
      display: block;
      height: $footer-height ;
    }
  }
  #header {
    @include grid-row;
    margin-top: 10px;
    margin-bottom: 30px;

    .logo-container {
      @include grid-column(2);
      text-align: left;
    }
    .navigation-container {
      @include grid-column(10);

      .navigation-row {
        @include grid-row(nest);
      }
      .search-container {
        @include grid-column(12);
        height: 28px;
        margin-top: 10px;
        text-align: right;
        display: block;
      }
      .site-navigation {
        @include grid-column(12);
        height: 28px;
        margin-top: 34px;
        text-align: left;
      }
    }
  }
  #body {
    @include grid-row;

    .main {
      @include grid-column(12);
    }
  }
  #footer {
    height: $footer-height;
    padding-bottom: 30px;

    .footer-row {
      @include grid-row;
    }
    .sponsors-container {
      @include grid-column(12);
      margin-top: 20px;

      .sponsors-list {
        @include block-grid(8);
      }
    }
    .logo-container {
      @include grid-column(3);
      display: block;
    }
    .info-links-container {
      @include grid-column(3);
      text-align: left;
      margin-bottom: 0px;
    }
    .network-links-container {
      @include grid-column(3);
      text-align: left;
      margin-bottom: 0px;
    }
    .stay-updated-container {
      @include grid-column(3);
    }
    .copyright-container {
      @include grid-column(6);
    }
    .legal-links-container {
      @include grid-column(6);
      text-align: right;
    }
  }
  #ktv-sub-nav {
    .heading-container {
      display: none;

      &.extend-full {
        @include grid-column(12);
        display: block;
      }
    }
    .list-container {
      @include grid-column(12);
      display: block;

      .sub-nav-list {
        @include block-grid(5);
        li {
          padding-bottom: 7px;
        }
      }
    }
  }
  #about-sub-nav {
    @include grid-row();

    .heading-container {
      @include grid-column(2);
      display: block;
    }
    .list-container {
      @include grid-column(10);
      display: block;
    }
  }
  .aside-container {
    display: block;
  }

  .home-page {
    .featured-content {
      @include grid-row(nest);

      .featured-slider-container {
        @include grid-column(9);
        margin-bottom: 0px;
      }
      .campaigns-container {
        @include grid-column(3);
        display: block;

        .featured-campaigns {
          @include grid-row(nest);

          .campaign {
            @include grid-column(12);
          }
        }
      }
    }
    .shows {
      .channel-list {
        @include block-grid(6);
      }
    }
    .blog {
      .blog-post {
        @include grid-row(nest);

        .blog-post-thumbnail {
          @include grid-column(5);
          margin-bottom: 0px;
        }
        .blog-post-content {
          @include grid-column(7);
        }
      }
    }
  }
  .shows-page {
    &.shows-index {
      .show-channel:first-child {
        margin-top: 10px;
      }
    }
    .show-channel {
      .channel-list {
        @include block-grid(6);
      }
    }
  }
  .blog-page {
    &.blog-index-page, &.blog-archives-page {
      .blog-posts-container {
        @include grid-column(10);
      }
      .blog-post {
        .blog-post-footer {
          .date-container {
            @include grid-column(4);
          }
          .sharing-container {
            @include grid-column(8);
          }
        }
      }
    }
    &.blog-show-page {
      .blog-post-container {
        @include grid-column(10);
        min-height: 460px; // Sticky Sidebar overflowing hack
      }
      .blog-post {
        .blog-post-header {
          @include grid-column(12);
          margin-bottom: 15px;

          .blog-post-meta {
            @include clearfix;

            .date-container {
              width: 50%;
              padding-right: 10px;
              float: left;
              margin-bottom: 0px;
            }
            .sharing-container {
              width: 50%;
              padding-left: 10px;
              float: right;
            }
          }
        }
      }
    }
  }
  .supporters-page {
    .logo-container {
      @include grid-column(2);
    }
    .info-container {
      @include grid-column(3);
    }
    .description-container {
      @include grid-column(7);
      margin-top: 0px;
    }
  }
  .about-page {
    &.about-the-crew-page {
      .crew-member {
        .crew-member-photo {
          @include grid-column(4);
          margin-bottom: 0px;
        }
        .crew-member-info {
          @include grid-column(8);
        }
      }
    }
    &.about-big-shaka-club-page {
      .big-shaka-club-wrapper {
        @include grid-row(nest);

        .big-shaka-group {
          @include grid-column(6);
          margin-top: 20px;
        }
      }
    }
  }
  .tag-page {
    .tagged-posts-container {
      @include grid-column(10);
      min-height: 460px; // Sticky Sidebar overflowing hack
    }
    .tag-post {
      .tag-thumbnail {
        @include grid-column(5);
        margin-bottom: 0px;
      }
      .tag-post-content {
        @include grid-column(7);
      }
    }
  }
  .search-page {
    .search-thumbnail {
      @include grid-column(4);
      margin-bottom: 0px;
    }
    .search-post-content {
      @include grid-column(8);
    }
  }
  .links-page {
    .linked-pages-container {
      @include grid-column(10);

      .links-list {
        @include block-grid(3);
        margin-top: 10px;
      }
    }
  }
  .store-page {
    &.store-archives {
      .products {
        @include block-grid(4);
      }
    }
    &.store-single {
      .product {
        @include grid-row(nest);
      }
      .product-images-container {
        @include grid-column(5);

        .thumbnails {
          @include block-grid(3);
        }
      }
      .product-desc-container {
        @include grid-column(7);
      }
    }
    &.cart-page {
      .product-thumbnail {
        display: table-cell;
      }
      .cart-overview {
        margin-bottom: 20px;
      }
      .shipping-row {
        @include grid-row(nest);
        margin-bottom: 20px;

        //.shipping-calc {
        //  @include grid-column(3);
        //}
        .cart-totals {
          @include grid-column(5, true, false, 7);
        }
      }
      .proceed-to-checkout {
        @include grid-column(5, true, false, 7);
      }
    }
    &.checkout-page {
      .store-content {
        @include grid-row(nest);
      }
      .billing {
        @include grid-column(4);
        margin-bottom: 0px;

        .billing-inner {
          .billing-title {
            margin-bottom: 30px; // matches up with shipping
          }
        }
      }
      .shipping {
        @include grid-column(4);
        margin-bottom: 0px;

        .shipping-inner {
          .shipping-title {
            margin-bottom: 0px; // matches up with billing
          }
        }
      }
      .your-order {
        @include grid-column(4);
      }
    }
    &.order-received-page {
      .order-review {
        margin-top: 20px;

        .order-details-container {
          @include grid-column(6);
          margin-bottom: 0px;
        }
        .customer-details-container {
          @include grid-column(6);
        }
      }
    }
  }
}

@media #{$desktop-up} {
  #header {
    @include grid-row;
    margin-top: 10px;
    margin-bottom: 30px;

    .logo-container {
      @include grid-column(2);
      text-align: left;
    }
    .navigation-container {
      @include grid-column(10);

      .navigation-row {
        @include grid-row(nest);
      }
      .search-container {
        @include grid-column(4, false, false, false, 8);
        height: 28px;
        margin-top: 72px;
        text-align: right;
        display: block;
      }
      .site-navigation {
        @include grid-column(8, false, false, false, false, 4);
        height: 28px;
        margin-top: 72px;
        text-align: left;
      }
    }
  }
  #ktv-sub-nav {
    .heading-container {
      @include grid-column(2);
      display: block;
      margin-bottom: 0px;
    }
    .list-container {
      @include grid-column(10);
    }
  }

  .blog-page {
    &.blog-index-page, &.blog-archives-page {
      .pagination-wrapper {
        .pagination-container {
          @include grid-column(10, false, false, 2);
        }
      }
    }
    &.blog-show-page {

    }
  }
  .shows-page {
    .episode-header {
      .title-container {
        @include grid-column(6);
      }
      .sharing-wrapper {
        @include grid-column(6);
      }
    }
  }
  .supporters-page {
    .logo-container {
      @include grid-column(2);
    }
    .info-container {
      @include grid-column(2);
    }
    .description-container {
      @include grid-column(8);
    }
  }
}