/***** Modules *****/
#ktv-sub-nav {
  position: relative;

  .sub-nav-heading {
    margin: 0;
    height: 25px;
    line-height: 25px;
    margin-bottom: 10px;
  }
  .sub-nav-list-item, .cat-item {
    @extend %pressed-text;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;

    &.current, &.current-cat {
      a {
        border: 1px solid $ktv-blue;
        color: $ktv-blue;
      }
    }
    a {
      display: inline-block;
      border: 1px solid transparent;
      padding: 3px;
    }
  }
}

#about-sub-nav {
  position: relative;

  .sub-nav-heading {
    margin: 0;
    height: 25px;
    line-height: 25px;
    margin-bottom: 10px;
  }
  .sub-nav-list-item, .cat-item {
    @extend %pressed-text;
    text-transform: uppercase;
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: 600;

    &:last-child {
      margin-right: 0px;
    }
    &.current, &.current-cat {

      a {
        border: 1px solid $ktv-blue;
        color: $ktv-blue;
      }
    }
    a {
      border: 1px solid transparent;
      padding: 3px;
    }
  }
}

#contact-form {
  position: relative;
  width: 90%;
  max-width: 500px;
  padding: 40px 20px 0px 20px;
  background: $ktv-bg-grey;
  margin-left: auto;
  margin-right: auto;

  header {
    margin-bottom: 10px;
  }

  fieldset {
    border: none;
    padding: 0;
    margin: 0;
  }

  label {
    margin-bottom: 5px;
  }

  input {
    margin-bottom: 20px;
    &[type=submit] {
      @extend .button;
    }
    &#scf_contact {
      margin-top: 10px;
      margin-bottom: 0px;
      padding-top: 0px;
      padding-bottom: 0px;
      line-height: 28px;
      font-size: 12px;
    }
  }

  .mfp-close {
    border: none;
  }
}

#featured-slider {
  @extend %image-border;
  background: #fff;
  width: 100%;
  overflow: hidden;

  .slide {
    display: none;

    &:first-child {
      display: block;
    }
    &:before {
      content: "";
      position: absolute;
      z-index: 100;
      top: -1px;
      left: -1px;
      width: 74px;
      height: 70px;
      display: inline-block;
    }
    &.blog:before {
      background-image: url(assets/images/badge_blog_large.png);
    }
    &.show:before {
      background-image: url(assets/images/badge_show_large.png);
    }
    .slide-image {
      position: relative;
      overflow: hidden;
      width: auto;
      height: auto;

      img {
        width: 100%;
        height: auto;
        max-width: 700px;
        max-height: 400px;
      }
    }
    .slide-desc {
      position: absolute;
      width: 100%;
      max-height: 77px;
      background: rgba(0,0,0,.7);
      color: #fff;
      padding: 10px 20px;
      bottom: -77px;
      left: 0;
      font-size: 13px;
    }
    header {
      line-height: 20px;
      height: 20px;
      margin-top: 20px;
      margin-bottom: 0px;
      font-weight: bold;
      text-transform: uppercase;
      width: 75%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      .slide-title {
        font-size: 20px;
      }
    }
  }
  .rsOverflow, .rsSlide {
    background: #FFF;
    color: $ktv-text;
  }
  .rsArrowLeft {
    top: auto;
    right: 35px;
    bottom: 0px;
    left: auto;
    display: inline-block;
    height: 32px;
    width: 32px;
  }
  .rsArrowRight {
    top: auto;
    right: 0px;
    bottom: 0px;
    left: auto;
    display: inline-block;
    height: 32px;
    width: 32px;
  }
  .rsBullets {
    top: auto;
    right: 78px;
    bottom: 9px;
    left: auto;
    overflow: visible;
    background: none;
    display: inline-block;
    height: 17px;
    width: 80px;

    .rsBullet {
      span {
        background: rgba(0, 0, 0, 0.2);
      }

      &.rsNavSelected span {
        background: rgba(0, 0, 0, 0.9);
      }
    }
  }
}

.content-container {
  position: relative;
}

.featured-campaigns {
  .campaign {
    width: 100%;
    margin-bottom: 20px;
    display: inline-block;
    &:last-child {
      margin-bottom: 0px;
    }
    img {
      @extend %image-border;
    }
  }
}

.aside-navigation {
  .aside-navigation-list, .wp-tag-cloud {
    margin-top: 20px;

    li {
      @extend %pressed-text;
      text-transform: uppercase;
      display: block;
      font-size: 11px;
      font-weight: 600;
      margin-bottom: 10px;

      &.current-cat a {
        color: $ktv-blue;
        border: 1px solid $ktv-blue;
      }
      a {
        padding: 3px;
        border: 1px solid transparent;
      }
    }
  }
}

.horizontal-stitch {
  @extend %stitch;
  border: none;
  color: transparent;
  padding: none;
  margin: 20px 0;
}

.horizontal-separator-light {
  border-top: 1px solid $ktv-light-grey;
  height: 1px;
  width: 100%;
  margin: 30px 0;
}

.horizontal-separator-dark {
  border-top: 1px solid $ktv-text;
  height: 1px;
  width: 100%;
  margin: 20px 0;
}

.button {
  @include inline-block;
  @include border-radius(4px);
  @include box-shadow(inset 0px 1px 0px 0px #fff);
  background-color: #dcdcdc; // Old browsers
  @include filter-gradient(#dcdcdc, #dcdcdc, vertical); // IE6-9
  @include background-image(linear-gradient(top, #dcdcdc 0%,#dcdcdc 1%,#ffffff 2%,#ffffff 4%,#f9f9f9 5%,#f8f8f8 7%,#eaeaea 96%,#e9e9e9 98%,#dcdcdc 99%,#dcdcdc 100%));
  color: $ktv-grey;
  text-shadow: 1px 1px 0 #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 5px 10px;
  border: 1px solid $ktv-light-grey;
  font-size: 12px;

  &:hover {
    color: $ktv-blue;
  }
  &:active {
    position: relative;
    top: 1px;
  }
}

.korduroy-logo {
  @include inline-block;
  @include hide-text;
  background: transparent url(assets/images/ktv_logo.png) top center no-repeat;
  width: 101px;
  height: 97px;
}

.social-navigation-list {
  .social-navigation-item {
    @include hide-text;
    @include inline-block;
    width: 16px;
    height: 16px;
    margin-left: 10px;
    background: transparent top center no-repeat;

    &.vimeo {
      background-image: url(assets/images/icons/vimeo.png);
    }
    &.twitter {
      background-image: url(assets/images/icons/twitter.png);
    }
    &.tumblr {
      background-image: url(assets/images/icons/tumblr.png);
    }
    &.instagram {
      background-image: url(assets/images/icons/instagram.png);
    }
    &.facebook {
      background-image: url(assets/images/icons/facebook.png);
    }
    &.pinterest {
      background-image: url(assets/images/icons/pinterest.png);
    }
    a {
      width: 16px;
      height: 16px;
      display: block;
    }
  }
}

.site-navigation {
  font: normal $bold 18px $fonts;
  letter-spacing: 1px;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
  text-transform: uppercase;

  .site-navigation-list {
    text-align: center;

    .site-navigation-item {
      display: inline;
      margin-left: 12px;
      margin-right: 12px;

      &.current a {
        color: $ktv-blue;
      }
    }
  }
}

.site-search {
  display: block;
  position: relative;
  width: 100%;
  max-width: 200px;
  height: 20px;
  font-size: 10px;
  float: right;
  margin-top: 3px;

  .site-search-input {
    @include border-radius(12px);
    width: 100%;
    height: 20px;
    padding: 3px 40px 3px 13px;
    font-size: 12px;
  }
  .site-search-submit {
    position: absolute;
    top: 4px;
    right: 0px;
    margin: 0;
    padding: 0;
    width: 33px;
    line-height: 13px;
    background: transparent;
    border: none;
    border-left: 1px dotted $ktv-light-grey;
    font-weight: $semi-bold;
  }
}

.site-footer {
  color: $ktv-dark-text;
  background: transparent url(assets/images/backgrounds/footer_repeater.jpg);

  &:before {
    content: "";
    height: 72px;
    display: block;
    background: transparent url(assets/images/backgrounds/footer_repeater_top.jpg) repeat-x;
  }
  .section-title {
    font-size: 14px;
  }
  .sponsor-list-item {
    text-align: center;

    &.go-pro {
      padding-top: 5px;
    }
  }
  .footer-logo {
    margin-top: 10px;
    margin-left: 15px;
  }
  .information, .network {
    text-transform: uppercase;

    li {
      font-size: 14px;
    }
  }
  .stay-updated {
    text-transform: uppercase;

    label {
      margin-bottom: 5px;
      text-transform: none;
      color: $ktv-text;
      line-height: 1.2;
    }
    .email {
      @include border-radius(4px);
      width: 70%;
      height: 30px;
      float: left;
      font-size: 12px;
      margin: 0;
    }
    .submit {
      width: 28%;
      float: right;
      padding: 0;
      margin: 0;
      line-height: 28px;
    }
  }
  .privacy-policy, .terms-of-use {
    @include inline-block;
    line-height: 1.2;
    margin-bottom: 5px;
    margin-left: 10px;
    text-transform: capitalize;
  }
}

.comments-wrapper {
  margin: 40px 0;
}

.video-wrapper {
  position: relative;
  // padding-bottom: 56.24%; /* 16:9 */
  padding-bottom: 54%; /* 16:9 */
  padding-top: 25px;
  height: 0;

  iframe {
    @extend %image-border;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.image-border {
  @extend %image-border;
}

.tag-list {
  margin-bottom: 30px;
  font-size: 10px;
  text-transform: uppercase;

  .tag-list-title {
    display: inline-block;
    padding: 5px 0;
    margin-right: 5px;
    margin-bottom: 5px;
    font-weight: bold;
    letter-spacing: 1px;
  }
  .tag-list-item {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;

    a {
      @extend %pressed-button;
    }
  }
}

.credits {
  margin-bottom: 22px;
  padding: 10px;
  background: #EBEBEB;
  border-top: 1px solid #D3D3D3;
  border-bottom: 1px solid #D3D3D3;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 12px;

  .credit {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0px;
    }
    .credit-type {
      @extend %pressed-text;
      color: $ktv-grey;
      font-weight: 600;
      min-width: 150px;
      display: inline-block;
      margin-right: 20px;
    }
  }
}

.badge-small {
  position: absolute;
  top: 0px;
  left: 0.9375em; // Same as foundations grid
  width: 46px;
  height: 44px;

  &.blog {
    background-image: url(assets/images/badge_blog_small.png);
  }
  &.show {
    background-image: url(assets/images/badge_show_small.png);
  }
}

.channel-list {
  .episode {
    text-align: center;

    img, .episode-thumb {
      @include border-radius(6px);
      background: #f5f5f5;
      border: 1px solid rgba(0,0,0,0.2);
    }
    .episode-title {
      @extend %pressed-text;
      height: 50px;
      overflow: hidden;
      display: block;
      margin-top: 5px;
      text-align: center;
      font-size: 11px;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
}

.more-link {
  @extend %pressed-text;
  color: #000;
  display: block;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 5px;
  font-size: 12px;

  &:hover {
    color: $ktv-blue;
  }
}

.spinner {
  &:before {
    @include border-radius(5px);
    content: "";
    position: absolute;
    display: inline-block;
    background: rgba(54, 54, 54, 0.6);
    width: 80px;
    height: 80px;
    top: -40px;
    left: -40px;
  }
}

.shaka-ratings {
  margin-top: 20px;

  .ratings {
    $shaka-width: 30px;
    $shaka-height: 25px;

    &:after {
      content: '.';
      display: block;
      clear: both;
      visibility: hidden;
      line-height: 0;
      height: 0;
    }
    .item {
      display: none;
    }
    ul, a:hover, .rating {
      background: transparent url(assets/images/icon_shaka.png) repeat-x;
    }
    ul, li {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    ul {
      height: $shaka-height;
      margin: 0 auto;
    }
    li {
      position: relative;
      display: block;
    }
    a {
      position: absolute;
      cursor: pointer;
      left: 0;
      top: 0;
      display: block;
      width: $shaka-width;
      height: $shaka-height;
      text-decoration: none;
      text-indent: -9999em;
      z-index: 10;
    }
    ul li a:hover {
      background-position: left bottom;
      z-index: 5;
      left: 0 ;
    }
    .s2 a {
      left: $shaka-width;
      &:hover {
        width: $shaka-width * 2;
      }
    }
    .s3 a {
      left: $shaka-width * 2;
      &:hover {
        width: $shaka-width * 3;
      }
    }
    .s4 a {
      left: $shaka-width * 3;
      &:hover {
        width: $shaka-width * 4;
      }
    }
    .s5 a {
      left: $shaka-width * 4;
      &:hover {
        width: $shaka-width * 5;
      }
    }
    .rating {
      background-position: left center;
      position: absolute;
      height: $shaka-height;
      display: block;
      text-indent: -9999px;
      z-index: 1;
    }
    .meta {
      font-size: 10px;
      color: $ktv-grey;
      line-height: 18px;
      text-align: center;
      margin-top: 5px;
      text-transform: uppercase;
    }
    &.error .meta {
      color: #ff0000;
    }
  }
}

.pagination-links {
  font-size: 12px;
  text-transform: uppercase;

  .page-numbers {
    @include border-radius(3px);
    background: rgba(153,153,153,0.1);
    box-shadow: inset 1px 1px 0 rgba(0,0,0,0.1), 1px 1px 0 rgba(255,255,255,0.8);
    letter-spacing: 1px;
    text-align: center;
    padding: 2px 5px;
    margin-right: 5px;

    &.current {
      background: none;
      box-shadow: none;
      color: $ktv-blue;
    }
    &.next, &.prev {
      background: none;
      box-shadow: none;
    }
    &:last-child {
      margin-right: 0px;
    }
  }
}

/***** Page Modules *****/
.home-page {
  .section-header {
    height: 30px;
    margin-bottom: 15px;

    .title-container {
      height: 30px;

      .section-title {
        margin: 0;
        padding: 0;
        font-size: 24px;
        line-height: 30px;
      }
      a {
        color: $ktv-grey-link;

        &:hover {
          color: $ktv-blue;
        }
      }
    }
    .all-container {
      @extend %pressed-text;
      height: 30px;
      line-height: 30px;
      text-align: right;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 600;
      a {
        color: $ktv-grey;

        &:hover {
          color: $ktv-blue;
        }
      }
    }
  }
  .blog-post {
    .date-container {
      color: $ktv-grey;
      height: 24px;
      line-height: 22px;
      font-size: 10px;

      .blog-post-date {
        margin-left: 3px;
      }
    }
    .sharing-container {
      color: $ktv-grey;
      height: 22px;
      line-height: 22px;
      position: relative;
      font-size: 10px;
      color: $ktv-grey;
      text-align: right;

      .addthis_toolbox {
        height: 22px;
        float: right;

        .at300b {
          float: right;
        }
        .addthis_counter.addthis_pill_style {
          float: right;
        }
      }
    }
    .blog-post-title {
      display: inline-block;
    }
    .blog-post-thumbnail img {
      @extend %image-border;
      width: 100%;
    }
    .blog-post-footer {
      font-size: 10px;
      text-transform: uppercase;
    }
  }
}

.shows-page {
  $icon-width: 192px;
  $icon-height: 70px;

  .channel-header {
    min-height: $icon-height;

    .channel-icon {
      width: $icon-width;
      height: $icon-height;
      display: inline-block;
      background: transparent no-repeat 0 0;
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -$icon-width/2;
      z-index: 5;

      &.all-yew {
        background-image: url(assets/images/channel-icons/all_yew.png);
      }
      &.d-i-why-not {
        background-image: url(assets/images/channel-icons/d_i_why_not.png);
      }
      &.happy-beach {
        background-image: url(assets/images/channel-icons/happy_beach.png);
      }
      &.health-nuts {
        background-image: url(assets/images/channel-icons/health_nuts.png);
      }
      &.inner-views {
        background-image: url(assets/images/channel-icons/inner_views.png);
      }
      &.local-legendz {
        // background-image: url(assets/images/channel-icons/inner_views.png);
      }
      &.sea-movies {
        background-image: url(assets/images/channel-icons/sea_movies.png);
      }
      &.specials {
        background-image: url(assets/images/channel-icons/specials.png);
      }
      &.surf-sufficient {
        background-image: url(assets/images/channel-icons/surf_sufficient.png);
      }
    }
    .channel-info {
      display: none;
      position: relative;
      padding-left: $icon-width + 20px;
      font-size: 14px;

      .category-name {
        font-weight: bold;
        text-transform: uppercase;
      }
      .all-episodes {
        margin-top: 10px;
        color: $ktv-grey;
        text-transform: uppercase;
        font-size: 10px;
        display: block;

        &:hover {
          color: inherit;
        }
      }
    }
  }
  .channel-separator {
    @extend .horizontal-separator-light;
    margin-top: 0px;
  }
  .episode-info {
    @include clearfix;
    min-height: $icon-height;
    position: relative;
    margin-top: 20px;

    .episode-aside {
      width: $icon-width;
      min-height: $icon-height;
      position: absolute;
      top: 0px;
      left: 0px;
      display: none;
    }
    .episode-main {}
    .channel-icon {
      width: $icon-width;
      height: $icon-height;
      display: inline-block;
      background: transparent no-repeat 0 0;

      &.all-yew {
        background-image: url(assets/images/channel-icons/all_yew.png);
      }
      &.d-i-why-not {
        background-image: url(assets/images/channel-icons/d_i_why_not.png);
      }
      &.happy-beach {
        background-image: url(assets/images/channel-icons/happy_beach.png);
      }
      &.health-nuts {
        background-image: url(assets/images/channel-icons/health_nuts.png);
      }
      &.inner-views {
        background-image: url(assets/images/channel-icons/inner_views.png);
      }
      &.local-legendz {
        // background-image: url(assets/images/channel-icons/inner_views.png);
      }
      &.sea-movies {
        background-image: url(assets/images/channel-icons/sea_movies.png);
      }
      &.specials {
        background-image: url(assets/images/channel-icons/specials.png);
      }
      &.surf-sufficient {
        background-image: url(assets/images/channel-icons/surf_sufficient.png);
      }
    }
    .episode-desc {
      margin-top: 10px;
      margin-bottom: 20px;
    }
    .sharing-container {
      color: $ktv-grey;
      height: 22px;
      line-height: 22px;
      position: relative;
      font-size: 10px;
      color: $ktv-grey;

      .share-title {
        height: 22px;
        float: left;
        margin-right: 5px;
      }
      .addthis_toolbox {
        height: 22px;
        float: left;

        .at300b {
          float: left;
        }
        .addthis_counter.addthis_pill_style {
          float: left;
        }
      }
    }
  }
}

.blog-page {

  .blog-post {
    .date-container {
      color: $ktv-grey;
      height: 24px;
      line-height: 22px;
      font-size: 10px;
      text-transform: uppercase;

      .blog-post-date {
        margin-left: 3px;
        text-transform: uppercase;
      }
    }
    .sharing-container {
      color: $ktv-grey;
      height: 22px;
      line-height: 22px;
      position: relative;
      font-size: 10px;
      color: $ktv-grey;
      text-align: right;
      text-transform: uppercase;

      .addthis_toolbox {
        height: 22px;
        float: right;

        .at300b {
          float: right;
        }
        .addthis_counter.addthis_pill_style {
          float: right;
        }
      }
    }
    .blog-post-title {
      display: inline-block;
    }
    .blog-post-thumbnail {
      @extend %image-border;
      img {
        width: 100%;
      }
    }
    .blog-post-footer {
      font-size: 10px;
      text-transform: uppercase;
    }
    .blog-post-body {
      .more-link {
        color: #000;

        &:hover {
          color: $ktv-blue;
        }
      }
      img, object, iframe {
        @extend %image-border;
      }
      a {
        color: $ktv-blue;
        &:hover {
          color: $ktv-dark-blue
        }
      }
      h1, h2, h3, h4, h5, h6 {
        margin: 10px 0;

        a {
          color: #000;

          &:hover {
            color: $ktv-blue;
          }
        }
      }
    }
  }
}

.supporters-page {
  .logo-container {
    img {
      width: 90%;
    }
  }
  .info-items {
    .name {
      @extend h2;
    }
  }
  .description-container {}
  @extend p;
}

.about-page {
  .crew-member {
    .member-name {
      @extend h1;
      font-size: 18px;
    }
    .member-position {
      @extend h2;
    }
    .member-desc {
      @extend p;
    }
  }
}

.tag-page {
  .tag-post {
    .tag-post-show-desc {
      max-height: 122px;
      overflow: hidden;
    }
    .tag-thumbnail {
      position: relative;

      img {
        @extend %image-border;
        width: 100%;
      }
    }
    .date-container {
      color: $ktv-grey;
      height: 24px;
      line-height: 22px;
      font-size: 10px;

      .blog-post-date {
        margin-left: 3px;
      }
    }
    .sharing-container {
      color: $ktv-grey;
      height: 22px;
      line-height: 22px;
      position: relative;
      font-size: 10px;
      color: $ktv-grey;
      text-align: right;

      .addthis_toolbox {
        height: 22px;
        float: right;

        .at300b {
          float: right;
        }
        .addthis_counter.addthis_pill_style {
          float: right;
        }
      }
    }
  }
}

.search-page {
  .search-post {
    .search-post-show-desc {
      max-height: 96px;
      overflow: hidden;
    }
    .search-thumbnail {
      position: relative;

      img {
        @extend %image-border;
        width: 100%;
      }
    }
    .date-container {
      color: $ktv-grey;
      height: 24px;
      line-height: 22px;
      font-size: 10px;

      .search-post-date {
        margin-left: 3px;
      }
    }
    .sharing-container {
      color: $ktv-grey;
      height: 22px;
      line-height: 22px;
      position: relative;
      font-size: 10px;
      color: $ktv-grey;
      text-align: right;

      .addthis_toolbox {
        height: 22px;
        float: right;

        .at300b {
          float: right;
        }
        .addthis_counter.addthis_pill_style {
          float: right;
        }
      }
    }
  }
}

.links-page {
  .links-page-image {
    width: 100%;
    margin-bottom: 20px;
  }
  .link-group {
    .horizontal-separator-light {
      margin-top: 0px;
    }
  }
  .horizontal-separator-light {
    &:last-child {
      margin-bottom: 0px;
    }
  }
}

.default-page {
  img {
    @extend %image-border;
  }
  a {
    color: $ktv-blue;
    &:hover {
      color: $ktv-dark-blue
    }
  }
  h1, h2, h3, h4, h5, h6 {
    margin: 10px 0;

    a {
      color: #000;

      &:hover {
        color: $ktv-blue;
      }
    }
  }
}

// Media Queries
@media #{$phone-up} {
  #featured-slider {
    .slide {
      .slide-desc {
        display: none;
      }
      header {
        .slide-title {
          font-size: 14px;
        }
      }
    }
    .rsBullets {
      display: none;
    }
  }

}

@media #{$tablet-up} {
  #featured-slider {
    .slide {
      .slide-desc {
        display: block;
      }
      header {
        .slide-title {
          font-size: 20px;
        }
      }
    }
    .rsBullets {
      display: block;
    }
  }
  .site-footer {
    .stay-updated {
      .email {
        width: 100%;
        float: none;
        margin-bottom: 5px;
      }
      .submit {
        width: auto;
        float: none;
        padding: 0 15px;
      }
    }
  }
  .site-navigation {
    .site-navigation-list {
      text-align: left;

      .site-navigation-item {
        margin-left: 25px;
        margin-right: 0px;

        &:first-child {
          margin-left: 0px;
        }
      }
    }
  }

  .shows-page {
    $icon-width: 192px;
    $icon-height: 70px;

    .channel-header {
      .channel-icon {
        top: 0;
        left: 0;
        margin-left: 0;
      }
      .channel-info {
        display: block;
      }
    }
    .episode-info {
      .episode-aside {
        display: block;
      }
      .episode-main {
        padding-left: $icon-width + 20px;
      }
      .sharing-container {
        text-align: right;
        margin-top: 4px;

        .share-title {
          height: 22px;
          float: none;
          margin-right: 0px;
        }
        .addthis_toolbox {
          height: 22px;
          float: right;

          .at300b {
            float: right;
          }
          .addthis_counter.addthis_pill_style {
            float: right;
          }
        }
      }
    }
  }
}